<!-- 用於"更多訊息"按鈕 -->
<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    {{ item.name }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ item.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- 用於"購買這個物品"按鈕 -->
<!-- Purchase Confirm -->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    {{ item.name }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 送出交易確認的請求 -->
                <form method="POST">
                    {{ purchase_form.hidden_tag() }}
                    <h4 class="text-center">確定購買 {{item.name}}/{{item.price}}$?</h4>
                    <br>
                    <h6 class="text-center">點擊“購買”，您將購買該商品</h6>
                    <br>
                    <!-- 這裡可以獲取使用者查看物品的訊息 -->
                    <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">
                    {{ purchase_form.submit(class="btn btn-outline-success w-100") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>