{% extends 'base.html' %}

<!-- 頁面名稱 -->
{% block title %}
Market Page
{% endblock title %}


{% block content %}
<!-- 彈出視窗 -->

<h1>Market Page</h1>
<div class="row">
    <!-- 商品資訊 -->
    <div class="col-8">
        <p>商品清單</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- 表頭訊息 -->
                    <th scope="col">ID</th>
                    <th scope="col">商品名稱</th>
                    <th scope="col">條碼</th>
                    <th scope="col">價格</th>
                    <th scope="col">選擇</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include 'includes/items_modals.html' %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.price }}$</td>
                    <td>
                        <!-- 控制按鈕 -->
                        <button class="btn btn-outline btn-info" data-bs-toggle="modal"
                            data-bs-target="#Modal-MoreInfo-{{ item.id }}">更多訊息</button>
                        <button class="btn btn-outline btn-success" data-bs-toggle="modal"
                            data-bs-target="#Modal-PurchaseConfirm-{{ item.id }}">購買這個物品</button>
                    </td>
                </tr>

                {% endfor %}


            </tbody>
        </table>
    </div>
    <!-- 擁有清單 -->
    <div class="col-4">
        <h2>Owned Items</h2>
        <p>Click on sell item to put an item back on the Market</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_items_modals.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                            data-bs-toggle="modal" data-bs-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                            賣出商品
                        </button>
                        <p class="card-text"><strong>
                                這個商品的成本 {{ owned_item.price }}$
                            </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>




{% endblock %}