{% extends 'base.html' %}

<!-- 頁面名稱 -->
{% block title %}
Market Page
{% endblock title %}


{% block content %}
<!-- 商品資訊?? -->
<h1>Market Page</h1>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!-- 表頭訊息 -->
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Price</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.barcode }}</td>
      <td>{{ item.price }}$</td>
      <td>
        <!-- 控制按鈕 -->
        <button class="btn btn-outline btn-info">更多訊息</button>
        <button class="btn btn-outline btn-success">購買這個物品</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}